<a href="https://colab.research.google.com/github/Yashthon/Asterisk-Pattern-Printing/blob/master/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tupels
# A tuple is similar to that of list with a difference that we can not change elements of a tuple once it is asssigned, a tuple is created by using rounded parathesis() seperating the elemets with a comma ,

In [ ]:
# creating a tuple
tuple_ds = ()

In [ ]:
type(tuple_ds)

tuple

In [ ]:
tuple_ds = (1,2,3,4,5)

In [ ]:
print(tuple_ds)

(1, 2, 3, 4, 5)

In [ ]:
tuple_ds = (12,)

In [ ]:
type(tuple_ds)

tuple

In [ ]:
print(tuple_ds)

12

In [ ]:
# Accessing tuple
tuple_ds = (1,2,3,4,5, 'tuple_example',5,5.5)

In [ ]:
print(tuple_ds)

(1, 2, 3, 4, 5, 'tuple_example', 5, 5.5)

In [ ]:
for t in tuple_ds:
  print(t)

1
2
3
4
5
tuple_example
5
5.5

In [ ]:
print(tuple_ds)
print(tuple_ds[0])
print(tuple_ds[:])
print(tuple_ds[5][4])
print(tuple_ds[-1])

(1, 2, 3, 4, 5, 'tuple_example', 5, 5.5)
1
(1, 2, 3, 4, 5, 'tuple_example', 5, 5.5)
e
5.5

In [ ]:
# Appending Tuple
t = (1,2,3,4,5,'Append',5.55)
t = t + (23,24,25) #add elements
print(t)

(1, 2, 3, 4, 5, 'Append', 5.55, 23, 24, 25)

In [ ]:
nestuple = (12,12,24, [45,56,67],"Hello")
print(nestuple[3][1])

56

In [ ]:
deltuple = (10,20,30,40,50)
print(deltuple)

(10, 20, 30, 40, 50)

In [ ]:
del deltuple

Dictionary:
A dictionary is created by using "{}" it consistes of key value pairs, it is an unordered collection of items. The values can be of any data type and can repeat, however keys must be of immutable type and must be unique.

In [ ]:
dict1 = {}
print(dict1)

{}

In [ ]:
dict1 = {1:'AI', 2:'Python', 3:'JAVA'}
print(dict1)

{1: 'AI', 2: 'Python', 3: 'JAVA'}

In [ ]:
dict1[3]

'JAVA'

In [ ]:
dict1[3]='Cloud Computing' # changing the value of the dictionary

In [ ]:
dict1

{1: 'AI', 2: 'Python', 3: 'Cloud Computing'}

In [ ]:
# Accessing
print(dict1[1])
print(dict1.get(2))
print(dict1.keys)
print(dict1.values)
print(dict1.items)

AI
Python
<built-in method keys of dict object at 0x7f99392900a0>
<built-in method values of dict object at 0x7f99392900a0>
<built-in method items of dict object at 0x7f99392900a0>

In [ ]:
# Deleting
popedvalue = dict1.pop(3)
print("Value:", popedvalue)
print("Dictionary:", dict1)
popkeyvalue = dict1.popitem()
print("Key, value pair", popkeyvalue)
print("Dictionary", dict1)
dict1.clear()
print("ndict",dict1)

Set:
A set is immutable, it is a unique collection of elements. However, as a whole the set is mutable, ie, we can add and remove elements.
There are 2 ways of creating sets by using {} and by using set function.

In [ ]:
set_ds = {1,2,3,4,5,9,6,4,8,7,8,9}
print(set_ds)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
set_ds.add(55)
print(set_ds)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 55}

In [ ]:
a = set('1,5,8,4,2,7,0,6')
print(a)
type(a)
b = set([1,4,6,7,9])
print(b)
type(b)

{'6', '4', '7', '8', '5', ',', '1', '0', '2'}
{1, 4, 6, 7, 9}

set

In [ ]:
# Operations
set_ds1 = {10,20,30,40,50}
set_ds2 = {10,35,67,54,89}
print(set_ds1.union(set_ds2))
print(set_ds1.intersection(set_ds2))
print(set_ds1.difference(set_ds2))

{67, 35, 40, 10, 50, 20, 54, 89, 30}
{10}
{40, 50, 20, 30}

In [ ]:
set_ds1.clear()

In [ ]:
print(set_ds1)

set()

Control statements

In [ ]:
setFlag = True
if setFlag:
  print("Good afternoon")
  print("Solve assignment")
  setFlag = False
if setFlag:
  print("Good afternoon")
  print("Solve assignment")
print("Executed false")

Good afternoon
Solve assignment
Executed false

In [ ]:
n = int(input("Enter number"))
if (n < 5):
    print("Number is less than 5")
else:
    print("Number is greater than 5")

Enter number4
Number is less than 5

In [ ]:

list_ds = [1,2,3,4,5]
square_of_no = 0
for values in list_ds:
  square_of_no = values*values
  print(square_of_no)

1
4
9
16
25